/* Sidebar styles */
aside {
    background-color: #555;
    color: #fff;
    width: 250px;
    min-height: 100vh; /* Updated */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    transition: width 0.3s;
}

aside.collapsed {
    width: 80px;
}

aside button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    padding: 5px;
}

aside nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside nav ul li {
    margin-bottom: 10px;
}

aside nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

aside nav ul li a:hover {
    color: #bbb;
}

/* Main content styles */
main {
    flex: 1;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 0 0 calc(50% - 10px);
}

.card h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    color: #777;
    font-size: 14px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

aside.collapsed nav ul li a {
    display: none;
}

aside.collapsed #sidebar-toggle::after {
    content: '\2261';
}

aside #sidebar-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    padding: 5px;
}

@media (max-width: 768px) {
    aside {
        width: 80px;
    }

    aside.collapsed {
        width: 80px;
    }

    aside.collapsed #sidebar-toggle::after {
        content: '\2261';
    }
}
    
