body {
  background-color: #328625;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-box {
position: relative;
  background: white;
  width: 410px;
  padding: 20px 20px 0 481px;
  margin: 0 0 0 0;
  float: left;
}

.logo {
  background: white;
  float: left;
  margin-top: -20px;
  width: 461px;
  position: absolute;
  left: 0px;
  text-align: center;
}

.form form{
  margin: 20px auto;
  max-width: 300px;
}
