.flexbox-container {
  display: flex;
  justify-content: center;
}

.logo {
  background: white;
  float: right;
  margin-top: -20px;
  width: 500px;
  position: absolute;
  left: 0px;
  text-align: center;
}

.form form{
  margin: 20px auto;
  max-width: 300px;
}
