.form-container {
   display: flex;
   justify-content: center;
}

.form-item {
   width: 400px;
   margin: 10px;
   background-color:white;
}

.form-item-1 {
   min-height: 100px;
}

.form-item-2 {
   min-height: 100px;
}


