ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #77bd1e;
}

hr.rounded {
  border-top: 10px solid #77bd1e;
  border-radius: 5px;
}

 table {
            border-collapse: collapse;
            width: 100%;
        }

th, td {
border: 1px solid #767B75;
text-align: left;
padding: 8px;
        }


